/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

accordion-group {
  margin: 0 10px;
}

div.panel-heading {
  background-color: #eff4f5!important;
}
